@import "tailwindcss";



@layer utilities{
    .scrollbar-hidden::-webkit-scrollbar{
        display: none;
    }
    .scrollbar-hidden{
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1.02);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.98);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.animate-fadeOut {
  animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes scroll-right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll-right 10s linear infinite;
  
}

@keyframes scroll-slow {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll-slow {
  animation: scroll-slow 30s linear infinite;
}


